@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/mdc-light-indigo/theme.css';
@import '~primeng/resources/primeng.min.css';

html,
body {
  height: 100%;
  background-color: var(--surface-a);
  font-family: var(--font-family);
}
